.header {
    padding: 5px;
    background: #ffffff;
    text-align: left;
    
    background: linear-gradient(270deg,  #cae9ff 0%, #03045e 100%);
    display: flex;
    img {
      height: auto;
      
    }
  }